<!DOCTYPE html>
<html>
<head>
	<title>Kevin's API | Login</title>
</head>
<body>
<form method="post" action="">
	<input type="text" placeholder="Your Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<input type="submit" value="log in">
</form>
	 
</body>
</html>