<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
      <div align="center">
        <img width="200" src="https://pbs.twimg.com/profile_images/590781422870269952/uvn8rZ6Q.jpg" class="img-responsive img-circle">
      </div>   
    <h1>Kevin's API</h1>
    <p>This is a simple Node API application . It's a reasonably simple app - but a good foundation for understanding how to use RESTFUL commands on NodeJS platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="/api"><span class="glyphicon glyphicon-flash"></span> Run the API</a>
    <a type="button" class="btn btn-lg btn-primary" target="_blank" href="http://github.com/bqevin"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To use just go to the <code>/api</code> link and <a href="#" class="alert-link">Use POSTMAN</a> to add/edit data
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this API works</h3>
      <ul>
        <li>You Post Data</li>
        <li>You can Delete data</li>
        <li>You can Put data</li>
        <li>You can Get data</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="#">Isaac API</a></li>
        <li><a href="#">Getrude API</a></li>
        <li><a href="#">Stephanie API</a></li>
        <li><a href="#">Alex API</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please if you enjoy comment to me via Email on kevin.barasa001@gmail.com
  </div>
</div>


</body>
</html>
