<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<p> <%=shida%> </p>
	<form method="post" action="/regist">
		<input type="text" placeholder="Full Name" name="name"> <br>
		<input type="text" placeholder="Age" name="age"><br>
		<input type="text" placeholder="Gender" name="gender"><br>
		<input type="submit" value="Register"><br>
	</form>
	<form method="post" action="/display">
		<input type="submit" value="Show Registered">
	</form>
	

</body>
</html>